<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error</title>
</head>
<body>
<br/>
<h4>
    <b>Error:</b>
</h4>
<br/>
<form action="#" method="post">
    <table width="100%" cellspacing="0" cellpadding="3">
        <tr>
            <span th:text="${errorMessage}"></span>
        </tr>
        <tr>
            <td align="left" width="250">
                <h3>
                    <a th:href="@{/}">[Return:]</a>
                </h3>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
