<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
<form th:action="@{/index}" method="post" accept-charset="UTF-8">
    <table width="100%" cellspacing="0" cellpadding="4">
        <tr>
            <td align="left" width="240">Write site url:</td>
        </tr>
        <tr>
            <td><input th:type="url" pattern="https?://.+" required placeholder="Enter url" th:name="url" minlength="3"
                       maxlength="300"
                       style="width: 30%"/></td>
        </tr>
        <br/>
        <tr>
            <td align="left" width="50">Write search page depth:
                <input type="number" placeholder="Enter depth" th:name="searchPageDepth" min="1" max="2147483647"
                       style="width: 16.5%"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" style="width: 30%" th:name="index" value="index">Index</button>
            </td>
        </tr>
    </table>
    <br/>
    <h3>
        <span th:text="${finishIndexing}"></span>
    </h3>
</form>
</body>
</html>