<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search page</title>
</head>
<body>
<form th:action="@{/search}" method="get" accept-charset="UTF-8">
    <table width="100%" cellspacing="0" cellpadding="4">
        <tr>
            <td align="left" width="240">Write keywords:</td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Enter keywords" th:name="keywords" minlength="1"
                       maxlength="3000" th:value="${keywords}"
                       style="width: 30%"/></td>
        </tr>
        <tr>
            <td align="left" width="240">Sort:</td>
        </tr>
        <tr>
            <td>
                <a th:href="@{'/search?keywords='+${keywords}+'&sort=relevance'}"
                   th:text="Relevance"
                   th:style="${'color: green; font-size: 15px;'}"></a>
            </td>

        </tr>
        <tr>
            <td>
                <a th:href="@{'/search?keywords='+${keywords}+'&sort=alphabetically'}"
                   th:text="Alphabetically"
                   th:style="${'color: green; font-size: 15px;'}"></a>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" style="width: 30%">Search</button>
            </td>
        </tr>
    </table>
    <h3>
        <span th:text="'Total number of links: ' + ${countDocuments}"></span>
    </h3>
    <table width="100%" cellspacing="0" cellpadding="4">
        <th:block th:each="document: ${documents}">
            <tr>
                <td align="left">
                    <a th:href="@{${document.getField('link').stringValue()}}"
                       th:text="${document.getField('title').stringValue()}"
                       th:style="${'color: blue; text-decoration:none; font-size: 20px;'}"></a>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <a th:href="@{${document.getField('link').stringValue()}}"
                       th:text="${document.getField('link').stringValue()}"
                       th:style="${'color: green; text-decoration:none; font-size: 13px;'}"></a>
                </td>
            </tr>
            <tr>
                <td align="left" width="80"></td>
            </tr>
            <tr>
                <td align="left" width="80"></td>
            </tr>
        </th:block>
    </table>
    <br/>
    <table>
        <tr>
            <td>Pages:</td>
            <td th:each="pageNumber: ${#numbers.sequence(1, countOfPages)}">
                <a th:href="@{'/search?page=' + ${pageNumber}+'&keywords='+${keywords}+'&sort='+${sort}}"
                   th:text="${pageNumber}"></a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>